/*---------------------------------------------------------------------------*\
    Colours
\*---------------------------------------------------------------------------*/
$black: #000;
$grey-100: #212121;
$grey-200: #424242;
$grey-300: #616161;
$grey-400: #757575;
$grey-500: #808080;
$grey-600: #9E9E9E;
$grey-700: #BDBDBD;
$grey-800: #E0E0E0;
$grey-900: #F5F5F5;
$white: #fff;

$red-100: #8F1404;
$red-200: #9A1201;
$red-300: #A31400;
$red-400: #AF1600;
$red-500: #BD1903;
$red-600: #C31A01;
$red-700: #D21A03;
$red-800: #E31D06;
$red-900: #F01F07;

/*$red-dark: #3e1209;
$red-deep: #b40000;
$red-medium: #d72d1c;
$red-light: #fd7367;
$red-highlight: #fcaf9a;
$red-beam: #ffc8ad;*/

$patreon-fiery-coral: #ff424d;// Patreon official "fiery coral" color

$paypal-pal-blue: #0079c1;// PayPal official "pal" blue color