/*---------------------------------------------------------------------------*\
    Font Families
\*---------------------------------------------------------------------------*/
%header-font-family {
  /* Cinzel,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif */
  font-family: 'Roboto Slab',Tahoma,Verdana,Segoe,serif;
}

%body-font-family {
  font-family: 'Roboto',Arial,Helvetica Neue,Helvetica,sans-serif;
}

%code-font-family {
  font-family: 'Roboto Mono',Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

/*---------------------------------------------------------------------------*\
    Initialize psuedo-elements
\*---------------------------------------------------------------------------*/
%psuedo-element {
  content: '';
  pointer-events: none;
}