@import 'functions';
@import 'silent-classes';
@import 'settings';

/*---------------------------------------------------------------------------*\
    Main
\*---------------------------------------------------------------------------*/
// 1. Ensure the page always fills at least the entire height of the viewport.
// 2. Set the global `box-sizing` state to `border-box`.
// 3. Prevent adjustments of font size after orientation changes in iOS.
html {
  @extend %body-font-family;
  min-height: 100%; /* [1] */
  box-sizing: border-box; /* [2] */
  -webkit-text-size-adjust: 100%; /* [3] */
  font-size: 100%;
  line-height: $p-line-rem;
  color: #000;
}
*, *:before, *:after {
  box-sizing: inherit; /* [2] */
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
main {
  display: block;// Render the `main` element consistently in IE.
}

@import 'base/colors';
@import 'base/images';
@import 'base/typography';

@import 'components/flexbox';
@import 'components/buttons';
@import 'components/header';
@import 'components/api-check';
@import 'components/navigation';
@import 'components/feature-section';
@import 'components/hr';
@import 'components/footer';

@import 'pages/index';
@import 'pages/commands';
@import 'pages/faq';

.patreon {
  padding-top: $baseline-rem;
  .flexbox__item {
    margin-top: $baseline-rem;
  }
}

.sr-only {
  position: absolute !important;
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  border: 0 !important;
}

a, button {
  cursor: pointer;
}

.page-width {
  position: relative;
  margin: 0 auto;
  max-width: $page-width;
}
.page-padding {
  padding-left: ($gutter-px * .5);
  padding-right: ($gutter-px * .5);
  @include media-query('gt-mobile') {
    padding-left: $gutter-px;
    padding-right: $gutter-px;
  }
}