/*---------------------------------------------------------------------------*\
    Colours
\*---------------------------------------------------------------------------*/
$black: #000;
$grey-dark: #3e3e3e;
$grey-deep: #555;
$grey-50: #808080;
$grey-medium: #8c8c8c;
$grey-light: #999;
$grey-highlight: #a6a6a6;
$grey-beam: #DDD;
$white-grey: #f2f2f2;
$white: #fff;

$red-dark: #3e1209;
$red-deep: #b40000;
$red-medium: #d72d1c;
$red-light: #fd7367;
$red-highlight: #fcaf9a;
$red-beam: #ffc8ad;

$orange-dark: #40220f;
$orange-deep: #be3600;
$orange-medium: #df661f;
$orange-light: #e59522;
$orange-highlight: #e6bd41;
$orange-beam: #ffd7a3;

$blue-highlight: #aafaf1;

$purple-dark: #b41a83;
$purple-medium: #b51983;

$green-dark: #1f320e;
$green-deep: #456013;
$green-medium: #739619;
$green-light: #96e318;
$green-highlight: #dbeb36;
$green-beam: #f4fc58;

$patreon-fiery-coral: #ff424d;// Patreon official "fiery coral" color

$paypal-pal-blue: #0079c1;// PayPal official "pal" blue color

//  Gradients
$red-gradient: linear-gradient($red-deep,$red-dark);
$red-gradient--hover: linear-gradient(#dc2627,#6b2019);
$red-gradient--active: linear-gradient($red-dark,$red-deep);

$orange-gradient: linear-gradient(#ff6722,#730915);
$orange-gradient--hover: linear-gradient(#ff8814,#991615);
$orange-gradient--active: linear-gradient(#730915,#ff6722);

$green-gradient--hover: linear-gradient(#5a722d 0,#415135 69%,#3c493a 100%);