/*---------------------------------------------------------------------------*\
    Typography
\*---------------------------------------------------------------------------*/
a {
  // Remove the gray background on active links in IE 10.
  background-color: transparent;
  color: $red-400;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
/*abbr[title] {
  cursor: help;
  text-decoration: none;
}*/
code {
  @extend %code-font-family;
  padding: 1px 3px;
  background: $grey-800;
  border-radius: 3px;
  font-size: 80%;
}
/*q {
  font-style: italic;
  &:before, &:after {// No quotes
    display: none;
  }
}*/
h1, h2, .h2, h3, .h3/*, h4, h5, h6*/ {
  position: relative;
  display: block;
  font-weight: 700;
}
h1 {
  @extend %header-font-family;
  margin: $h1-margin-rem 0 0 0;
  font-size: $h1-font-rem;
  line-height: $h1-line-rem;
}
h2, .h2 {
  @extend %header-font-family;
  margin: $h2-margin-rem 0 0 0;
  font-size: $h2-font-rem;
  line-height: $h2-line-rem;
}
h3, .h3 {
  margin: $h3-margin-rem 0 0 0;
  font-size: $h3-font-rem;
  line-height: $h3-line-rem;
}
/*h4 {
  margin: $h4-margin-rem 0 0 0;
  font-size: $h4-font-rem;
  line-height: $h4-line-rem;
}
h5 {
  margin: $h5-margin-rem 0 0 0;
  font-size: $h5-font-rem;
  line-height: $h5-line-rem;
}
h6 {
  margin: $p-margin-rem 0 0 0;
  font-size: $p-font-rem;
  line-height: $p-line-rem;
}*/
p, .paragraph, li/*, figcaption, dl*/ {
  @extend %body-font-family;
  margin: $p-margin-rem 0 0 0;
  font-size: $p-font-rem;
  line-height: $p-line-rem;
}
small, .small-text {
  font-size: $small-font-rem;
  line-height: $small-line-rem;
  vertical-align: top;
}
.smaller {
  font-size: $x-small-font-rem;
}
ul, ol {
  margin: 0;
  padding: 0 0 0 $gutter-px;
  text-align: left;
  list-style-position: outside;
  li {
    counter-increment: listCounter;
    & ~ li {
      margin: ($baseline-rem * .5) 0 0 0;
    }
  }
  /*ul li, ol li {
    counter-increment: listCounter2;
  }*/
}
li {
  width: 100%;
}
/*table ul, table ol {
  margin: (-$baseline-rem) 0 $baseline-rem 0;
}*/