/*---------------------------------------------------------------------------*\
    Navigation
\*---------------------------------------------------------------------------*/
nav {
  position: relative;// Fallback for IE
  position: sticky;
  top: 0;
  margin: 0;
  height: $nav-height;
  text-align: center;
  background: $white;
  flex-wrap: nowrap;
  z-index: 1;
  .flexbox__item {
    padding: 0;
  }
  a {
    position: relative;
    display: inline-block;
    font-size: $nav-font-rem;
    line-height: $baseline-px;
    font-weight: 700;
    text-decoration: none;
    color: $grey-dark;
    padding: $nav-item-padding ($baseline-px * .5);
    &:hover {
      color: $red-deep;
    }
    &.active {
      color: $black;
      &:after {
        @extend %psuedo-element;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: (-12px);
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-top: 8px solid $white;
        border-right-width: 12px;
        border-left-width: 12px;
        z-index: 1;
      }
    }
  }
  &:before {
    @extend %psuedo-element;
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: 1px;
    background: url("/static/img/nav-top.jpg") no-repeat 50% 0%;
  }
  &:after {
    @extend %psuedo-element;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 48px;
    background: url("/static/img/nav-shadow.png") no-repeat 50% 0%;
  }
}