/*---------------------------------------------------------------------------*\
    Commands Page
\*---------------------------------------------------------------------------*/
.commands-column {
  width: 100%;
  @include media-query('gt-tablet') {
    width: 50%;
  }
}
.commands-list {
  padding: 0;
  list-style: none;
  text-align: center;
}
.commands-list__item {
  padding: ($baseline-px * .5);
  background: $white-grey;
  box-shadow: 0 1px 2px rgba($black,.2),
              0 2px 4px rgba($black,.1),
              0 4px 8px rgba($black,.05);
  hr {
    margin: (($baseline-px * .5) - 1px) 0 ($baseline-px * .5) 0;
  }
}

.command-name {
  @extend %code-font-family;
  margin: 0;
  color: $grey-dark;
  font-size: $h4-font-rem;
  line-height: ($baseline-px * 2);
  button {
    display: inline-block;
    margin: 4px 0;
    border: 1px solid $grey-dark;
    border-radius: 2px;
    padding: 1px 6px;
    background: $white;
    line-height: ($baseline-px * 2) - 12px;
    text-decoration: none;
    vertical-align: top;
    &:hover {
      background: $grey-dark;
      color: $white;
    }
    &:active {
      background: $black;
      padding: 2px 6px 0 6px;
    }
    &.active {
      background: $grey-dark;
      color: $white;
      &:active {
        background: $black;
      }
    }
  }
  span:before {
    content: '\002F';// Forward slash
    color: $grey-light;
  }
}
.command-desc {
  margin: 2px 0 10px 0;
  line-height: $baseline-px;
}
.command-argument {
  p, &, & ~ .command-argument {
    margin: 0;
  }
}
.command-argument-name {
  @extend %code-font-family;
}