/*---------------------------------------------------------------------------*\
    Commands Page
\*---------------------------------------------------------------------------*/
.commands-column {
  width: 100%;
  @include media-query('gt-tablet') {
    width: 50%;
  }
}
.commands-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.command {
  position: relative;
  padding: ($baseline-px * .25) ($baseline-px * .5) ($baseline-px * .5) ($baseline-px * .5);
  //border: 1px solid $grey-700;
  border-radius: 6px;
  background: $white;
  box-shadow: $card-shadow;
  & ~ .command {
    margin-top: $baseline-rem;
  }
  p {
    margin: 0;
  }
  button {
    display: inline-block;
    border: 1px solid $grey-700;
    background: $white;
    box-shadow: $button-shadow--light;
    vertical-align: top;
    &:hover {
      background: $grey-900;
    }
    &:active {
      background: $grey-800;
    }
    &.active {
      color: $grey-900;
      background: $grey-100;
      &:active {
        background: $black;
      }
    }
  }
  .tooltip {
    right: (-6px);
    left: (-6px);
  }
  .dark-mode & {
    background: $grey-100;
    box-shadow: $card-shadow--dark;
    button {
      border-color: $grey-300;
      background: $grey-100;
      &:hover {
        background: $grey-150;
      }
      &:active {
        background: $grey-50;
      }
      &.active {
        color: $grey-100;
        background: $white;
        &:active {
          background: $grey-900;
        }
      }
    }
  }
}
.command__name {
  @extend %code-font-family;
  margin: 0;
  font-size: $h4-font-rem;
  line-height: ($baseline-px * 2);
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: -0.8px;
  button {
    margin: 4px 0;
    line-height: ($baseline-px * 2) - 12px;
  }
  span:before {
    content: '\002F';// Forward slash
    color: $grey-500;
  }
}
.command__desc {
  margin: 2px 0 10px 0;
  line-height: $baseline-px;
}
.command-button {
  border-radius: 20px;
  padding: 1px 14px;
  &:active {
    padding: 2px 14px 0 14px;
  }
  &:after {
    @extend %psuedo-element;
    display: inline-block;
    width: ($baseline-px * 2) - 12px;
    height: ($baseline-px * 2) - 12px;
    background: url-encode("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill='#{$grey-500}'><circle cx='200' cy='300' r='30'/><circle cx='325' cy='300' r='30'/><circle cx='450' cy='300' r='30'/></svg>") 50% 50%/100% 100%;
    vertical-align: top;
  }
}

.subcommand-list {
  margin: 12px 0 (-12px) 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.subcommand {
  position: relative;
  margin: 12px 0 0 0;
  padding: 12px 0;
  border-top: 1px solid $grey-700;
  & ~ .subcommand {
    margin: 0;
  }
  .tooltip {
    right: (-18px);
    left: (-18px);
  }
  .dark-mode & {
    border-top-color: $grey-300;
  }
}
.subcommand__name {
  @extend %code-font-family;
  line-height: $baseline-px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.3px;
  button {
    line-height: $baseline-px - 4px;
  }
  span {
    color: $grey-500;
    &:before {
      content: '\002F';// Forward slash
    }
  }
}

.args-button {
  border-radius: 8px;
  padding: 1px 6px;
  &:active {
    padding: 2px 6px 0 6px;
  }
}
.arg-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.arg {
  margin: 0;
  padding: 12px 0;
  & ~ .arg {
    border-top: 1px solid $grey-700;
  }
  .dark-mode & {
    border-top-color: $grey-300;
  }
}
.arg__name {
  @extend %code-font-family;
  line-height: $baseline-px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.3px;
  span {
    color: $grey-500;
    font-weight: 400;
  }
}

.option-list {
  display: inline-block;
  padding: 0;
  margin: 6px 0 0 0;
  border: 1px solid $grey-800;
  border-radius: 8px;
  list-style: none;
  .dark-mode & {
    border-color: $grey-300;
  }
}
.option {
  position: relative;
  margin: 0;
  padding: 6px 12px 6px 20px;
  &:before {
    @extend %psuedo-element;
    position: absolute;
    left: 8px;
    top: 14px;
    border: 2px solid currentColor;
    border-radius: 50%;
  }
  & ~ .option {
    border-top: 1px solid $grey-800;
  }
  .dark-mode & {
    border-top-color: $grey-200;
  }
}

.permissions {
  display: inline-block;
  margin: 4px 0 0 0;
  padding: 4px 8px 0 8px;
  border-top: 1px solid $grey-700;
  .dark-mode & {
    border-color: $grey-300;
  }
  code ~ code {
    margin-left: 6px;
  }
}