/*---------------------------------------------------------------------------*\
    Index Page (Homepage)
\*---------------------------------------------------------------------------*/
.bot-demo {
  position: relative;
  margin: $baseline-rem 0;
  video {
    border-radius: 8px;
  }
}
/*.bot-demo-border {
  position: absolute;
  top: 0;
  left: 0;
}*/