/*---------------------------------------------------------------------------*\
    Index Page (Homepage)
\*---------------------------------------------------------------------------*/
.bot-demo {
  position: relative;
  margin: $baseline-rem 0;
  img {
    border-radius: 6px;
  }
}
/*.bot-demo-border {
  position: absolute;
  top: 0;
  left: 0;
}*/